.Searchsection{
    border: 1px solid rgba(255, 255, 255, 0.299);
    margin: 2%;
    width: 40%;
    border-radius: 15%;
    padding: 1%;
    
   span{
    color: white;
   }
        

    input{
        border: none;
       outline: none;
        background-color: black;
        color: whitesmoke;
        text-align: center;
    }
  
}





