.Searchsection{
    grid-area: Searchsection;
    // border: 1px solid rgba(255, 255, 255, 0.299);

    height: 9rex;
    


    .Searchsectioninput{
    
    background-color: rgba(255, 255, 255, 0.299);
    margin: 10px;
    width: 50%;
    border-radius: 15px;
    padding: 1%;
    height: 2.5rem;

    span{
        color: white;
       }


    }
    
  
        

    input{
        border: none;
       outline: none;
       background-color: rgba(255, 255, 255, 0);
        color: whitesmoke;
        text-align: center;
    }
  
}





