.Rightsidebar{
        grid-area: Rightsidebar;
        // border: .1px solid rgba(255, 255, 255, 0.299);
        // border: 1px solid white;
        display:grid;
        grid-template-columns:auto;
        grid-template-rows:4rem 12rem;
        grid-template-areas:"Searchsection"
                            "Subscribesection"
                           "Trendingsection "
                            "Followingsection ";


                            
        overflow: scroll;
        scrollbar-width: none;
       color: white;

}