.LeftSideBar{
    grid-area: LeftSideBar;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: end;
    line-height: 80%;
    padding: 2%;

   

 
  
    
    

    .btn-container{   
        text-decoration:none;
        display: flex;
       
        justify-content: center;
        gap: 2%;     
        margin:left;
        padding: 1%;
        width:40%;
        display: flex;
       flex-direction: column;
       color: white;
    //    border: 1px solid white;
       gap: 8%;
       border-radius: 20px;
       text-align: center;    
    }
    .twittermenu:hover{
        cursor: pointer;
        background-color:rgba(255, 255, 255, 0.299);
        
    }
    .twitermenubutton {
        border: none;
        width: 40%;
        height: 3rem;
        border-radius: 50px;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: rgb(29,155,240);
       
    }
    .twitermenubutton button{
        margin: auto;
        width: 100%;
        border-radius: 50px;
        font-size: larger;
        font-weight: bolder;
        align-items: center;
        text-align: center;
        height: 3rem;
        color: white;
        background-color: rgb(29,155,240);
    }
    .profileitems{
        display: flex;
        justify-content: end;
        padding: 1%;
    }
    .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        
        gap:3%;
        padding: 1%;
        width: 45%;
        
    }
    .item:hover{
        border-radius: 50px;
        cursor: pointer;
        background-color:rgba(255, 255, 255, 0.299);

    }
    .profilenamebluetik{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;

    }
    .profilenamebluetik h5{
        color:rgb(29,155,240);
    }




    .profileitems img{
           width: 25%;
           border-radius: 50px;
    }




}
.containerclass{
    display: flex;
    flex-direction: row;
}
.btn-container div{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 2%;
    color: white;
    text-decoration: none;
    margin: 5%;

    
}
.btn-container div p{
    font-size: 1.3rem;

}
.linkClass{
    text-decoration: none;
    gap: 2%;
    


    .active{
        background-color: blue;
    }
    

  
    
}



