.Application-form{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 120px 800px auto ;
  grid-template-areas: "nav nav nav"
                        "main main main"
                        "footer footer footer";

}
nav{
  grid-area: nav;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  
}
nav.h1{
  font-size: 200px;
}

main{
grid-area: main;



}
footer{
grid-area: footer;
border: 1px solid black;
padding: 20px;
}
