.main_containcer{
  width: 100%;
  height: 95vh;
  border: 1px solid black;
  display: grid;
  grid-template-rows:60px auto 60px;
  grid-template-columns: 600px auto 300px;
  grid-template-areas:"navbar navbar navbar"
                      "sidebar main main"
                      "footer footer footer" ;
}
.navbar{
  grid-area:navbar;
  // border: 1px solid black;

}
.sidebar{
  grid-area:sidebar;
  border: 1px solid black;
}
.main{
  grid-area:main;
  
}




