.main{
   



   
  
}
.maincontent{
    width:75%;
    height: 803px;
    grid-area: maincontent;
    border: 1px solid black;
    
}
.maincontentright {
    grid-area: maincontentright;
    // border:1px solid black;
}

