.main{
     display: grid;
     grid-template-rows: auto;
     grid-template-areas:"maincontent";
     border: 1px solid black;
     overflow: scroll;
     scrollbar-color:rgb(0, 153, 255);
      scrollbar-width: thin;
     
    
}





