.App{
    background-color: #eff3f8;
}


.p-panel{
    &-title{
        display: block;
        width: 100%;
        }
        &-header{
            border-top-left-radius: 12px !important;
            border-top-right-radius: 12px !important;
           background: #fff;
           border-bottom: 0;
        }
        &-content{
            height: calc(100vh - 120px);
            max-height: calc(110vh - 100px);
            border-bottom-left-radius: 12px !important ;
            border-bottom-right-radius: 12px !important ;
        }

}