.trand{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 3%;

}
.Exploreimg{
    margin: 2%;
    align-items: center;

}

.focused{
    border-color:rgb(29,155,240) ;
    background-color:#191919 ;
    svg{
        fill:rgb(29,155,240);
    }
}