.posts{
    grid-area: posts;
    display: grid;
    
    position:sticky;
    border-top:1px solid rgba(255, 255, 255, 0.299); 
    
    
}
.post{
    display: flex;
    flex-direction: row;
    margin: 5px;
    color: white;
    gap: 1%;
    border-bottom:1px solid rgba(255, 255, 255, 0.299);
    
    .postedimage img{
        width: 95%;
        border:1px solid rgba(255, 255, 255, 0.299); 
        border-radius:10px;
        
    }

    .postimage img{
        width: 95%;
        height: 3rem;
        margin: 2%;
        border-radius: 50px;
       
    }
    .postitem{
        width: 100%;
        display: flex;
        flex-direction: column;


        

        .postitemnameid{
            display: flex;
            flex-direction: row;

            h6{
                color:rgb(29,155,240);
                
            }
            p{
                color:rgba(255, 255, 255, 0.299);
            }
            
        }

        
       
    }
   .postcomment{
    // border: 1px solid ;
    color:rgba(255, 255, 255, 0.299);
    display: flex;
    flex-direction: row;
    margin: 3px;
   padding: 1%;
   justify-content: space-around;
   color: white;
   }
    
    

}